.leftSide
  .title
    Teacher's BAR
  .menu
    menu
    %form.keisanSheet{ id: "sheet" }計プリメーカー(シンプル)
    .keisanSheet__space
      %select.keisanSheet__select{ id: "num1" }
        %option{ value: 1 }1桁
        %option{ value: 2, selected: "selected" }2桁
        %option{ value: 3 }3桁
        %option{ value: 4 }4桁
        %option{ value: 5 }5桁
      %select.keisanSheet__select{ id: "calc_symbol" }
        %option{ value: "+", selected: "selected" }+
        %option{ value: "-" }-
        %option{ value: "×" }×
        %option{ value: "÷" }÷
      %select.keisanSheet__select{ id: "num2" }
        %option{ value: 1 }1桁
        %option{ value: 2, selected: "selected" }2桁
        %option{ value: 3 }3桁
        %option{ value: 4 }4桁
        %option{ value: 5 }5桁
      %select.keisanSheet__divisionAns{ id: "divAns" }
        %option{ value: 0, selected: "selected" }あまりを出す
        %option{ value: 1}四捨五入(小数第2位)
    .keisanSheet__button
      %input.keisanSheet__submit{ id: "submit", type: "button", value: "問題作成"}
      %input.keisanSheet__answer{ id: "displayAnswer", type: "button", value: "答えの表示", disabled: true}

    %form.keisanSheet{ id: "calcSheet" }
      .standardTitle 計プリメーカー
      .standardTitle (スタンダード)
    .standardMenu 九九練習プリント
    .multiSheet__space
      %select.multiSheet__select{ id: "multiNum1" }
        %option{ value: 1, selected: "selected" }1の段
        %option{ value: 2 }2の段
        %option{ value: 3 }3の段
        %option{ value: 4 }4の段
        %option{ value: 5 }5の段
        %option{ value: 6 }6の段
        %option{ value: 7 }7の段
        %option{ value: 8 }8の段
        %option{ value: 9 }9の段
        %option{ value: 10 }10の段
        %option{ value: 0 }複数の段

      .multiSymbol{ id: "multiSymbol", value: "×"}×
      %select.multiSheet__select{ id: "multiNum2" }
        %option{ value: 1 }1~9(順番)
        %option{ value: 2, selected: "selected" }1~9(ランダム)
        %option{ value: 3 }0を含む
        %option{ value: 4 }10を含む
    .multiSheet__button
      %input.multiSheet__submit{ id: "submit", type: "button", value: "問題作成"}
      %input.multiSheet__answer{ id: "displayAnswer", type: "button", value: "答えの表示", disabled: true}

    -# .sekigae
    -#   ＋ 歴史人物クイズ
    -# .sekigae
    -#   ＋ 体育ワークシート
    -# .sekigae
    -#   ＋ 席替えおみくじ
