.leftSide
  .title
    Teacher's BAR
  .menu
    menu
    %form.keisanSheet{ id: "sheet" }計プリメーカー(シンプル)
    .keisanSheet__space
      %select.keisanSheet__select{ id: "num1" }
        %option{ value: 1 }1桁
        %option{ value: 2, selected: "selected" }2桁
        %option{ value: 3 }3桁
        %option{ value: 4 }4桁
        %option{ value: 5 }5桁
      %select.keisanSheet__select{ id: "calc_symbol" }
        %option{ value: "+", selected: "selected" }+
        %option{ value: "-" }-
        %option{ value: "×" }×
        %option{ value: "÷" }÷
      %select.keisanSheet__select{ id: "num2" }
        %option{ value: 1 }1桁
        %option{ value: 2, selected: "selected" }2桁
        %option{ value: 3 }3桁
        %option{ value: 4 }4桁
        %option{ value: 5 }5桁
      %select.keisanSheet__divisionAns{ id: "divAns" }
        %option{ value: 0, selected: "selected" }あまりを出す
        %option{ value: 1}四捨五入(小数第2位)
    .keisanSheet__button
      %input.keisanSheet__submit{ id: "submit", type: "button", value: "問題作成"}
      %input.keisanSheet__answer{ id: "displayAnswer", type: "button", value: "答えの表示", disabled: true}

    -# .sekigae
    -#   ＋ 歴史人物クイズ
    -# .sekigae
    -#   ＋ 体育ワークシート
    -# .sekigae
    -#   ＋ 席替えおみくじ
