.rightSide
  .header{ id: "header" }
    .appName
      計プリメーカー(シンプル)
    .printBtns
      .printBtns__btn{ id: "print" }
        印刷

  .main{ id: "printRange" } 
    .nameDate
      .nameDate__name
        なまえ　　　　　　　　
      .nameDate__date
        　　月　　日(　　)
    .scoreTime
      .scoreTime__time
        タイム　　　分　　　秒
      .scoreTime__score
        とく点　　　　　点
    .main__sheet{ id: "main"}
      %ul.main__sheet__howToUse
        %li.bigger 計プリメーカー(シンプル)は、簡単な計算プリントを作成するアプリです。
        %li 問題作成ボタンを押すたびに、新しい問題が作成されます。自習や宿題、補充の課題としてお使いください。
        %li ログインなしでお使いいただけます。
        %li 計算は、たし算、引き算、かけ算、わり算の4種類から、数字は、１桁〜５桁の整数から選べます。
        %li 「問題作成」ボタンを押すと、計算問題が20問表示されます。右上の印刷ボタンを押して印刷し、お使いください。
        %li 「答えの表示」ボタンを押すと、答えが表示されます。印刷し、お使いください。（「答え非表示」を押すと、答えが非表示になります。）
        %li わり算については、「あまりを出す」「四捨五入(小数第2位)」の2種類から答えを選べます。選択してから「問題作成」ボタンを押してください。
        %li
          .red 問題の保存機能はありません。
          問題を保存したい場合は、右上の「印刷」ボタンを押した後、「PDFに保存する」を選ぶなどの対応をお願いします。