.rightSide
  .header{ id: "header" }
    .appName
      計算プリント作成
    .printBtns
      .printBtns__btn{ id: "print" }
        印刷

  .main{ id: "printRange" } 
    .nameDate
      .nameDate__name
        なまえ　　　　　　　　
      .nameDate__date
        　　月　　日(　　)
    .scoreTime
      .scoreTime__time
        タイム　　　分　　　秒
      .scoreTime__score
        とく点　　　　　点
    .main__sheet{ id: "main"}