$first-color: #66bfbf;
$second-color: #eaf6f6;
$third-color: #fcfefe;
$fourth-color: #f76b8a;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
$icon-color: #000000;
// $first-color: #fbfbfb;
// $second-color: #b9e1dc;
// $third-color: #f38181;
// $fourth-color: #756c83;
// $primary-text-color: #212121;
// $secondary-text-color: #757575;
// $divider-color: #BDBDBD;
// $icon-color: #000000;